*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

.container{
    width: 375px;
    height: 90dvh;
    background-color: #F7F8F9;
    margin: 2.5dvh auto;
    /* margin-top: 5dvh; */

    border: 1px solid grey;
}

.login-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 5dvh;
}

.radio-container{
    display: flex;
    gap: 10px;
}

.btn{
    width: 335px;
    height:46px;
    border-radius: 6px;
    border:none;
    font-size: 16px;
    font-weight: 700;
}

.create-btn{
    background-color: #6C25FF;
    color: #FFFFFF;
}

.login-btn{
    background-color: #6C25FF4B;
}

.login-page-btn{
    background-color: #CBCBCB;
    color: #FFFFFF;
}

form{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.text{
    margin-left: 20px;
    text-align: start;
    align-self: normal;
    color: #1D2226;
}

.create-btn-position{
    position: absolute;
    bottom: 10dvh;

}

.heading{
    font-weight: 500;
    font-size: 28px;
}

.description{
    font-size: 18px;
    color: #1d2226;
    opacity: 0.6;
}

.text-input{
    width: 335px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
}





.fieldset{
    border: 1px solid #CBCBCB;
    border-radius: 6px;
    position: relative;
}

.fieldset legend{
    padding: 0 6px;
    position: absolute;
    left: 12px;
    top: -8px;
    background-color: #F7F8F9;
    color: #6C25FF;
}

.fieldset:focus-within{
    border:2px solid #E70B897B;
}

.star{
    color: #DD4A3D;
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile-header{
    background-color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    padding: 20px;
    height: 68px;
    padding-top: 2dvh;
}

.profile-sec{
    display: flex;
    padding: 3dvh;
    position: relative;
    
}

.profile-sec img{
    border-radius: 50%;
    border: none;
}

.camera-icon{
    position: absolute;
    /* top: 70%; */
    top: 59%;
    left: 21%;

}

.profile-name{
    font-size: 15px;
    font-weight: 700;
}

.profile-email{
    font-size: 14px;
}

.profile-description{
    color: #1D2226;
    font-size: 14px;
}

.pagination{
    height: 5dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    gap: 20px;
}

.pagination button{
    background-color: transparent;
    height: 100%;
    border: none;
    font-weight: 900;
}

.pagination p{
    font-size: medium;
    font-weight: 400;
    color: #707070;
}

.landing{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 40px 0;
}